include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Поднятие профиля в getmatch • Артём Самсонов • Продуктовый дизайнер',
      'Инструмент, помогающий кандидатам стать заметнее для компаний, а рекрутерам — находить кандидатов из глубины ленты',
      'http://artemsamsonov.com/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            section
                h1 Поднятие профиля в getmatch
                p.article__annotation На платформе getmatch рекрутерам доступен инструмент «Подборки» — закрытая база кандидатов, отобранных вручную специалистами нашего агентства. На исследовании заметили проблему — рекрутеры смотрят только новые профили, расположенные на первых двух страницах ленты. При этом в конце ленты находились хорошие кандидаты, готовые к общению с компаниями.
                h2 Решение
                p  Спроектировали механику поднятия профиля в ленте. Кандидат, попавший в подборку, может поднять профиль раз в 5 дней, тем самым став заметнее для рекрутеров. Механику реализовали в телеграм-боте.
                p Перед разработкой провели A/B-юзабилити-тест: совместно с UX-писателем создали два варианта текста и показали каждый из них пятерым пользователям. Первый вариант опирался на действие («поднять профиль»), второй — на потребность («стать заметнее для компаний») ↓
                p.article__image
                    a(href="../img/getmatch-calc-01.jpg" target="_blank")
                        img(src="../../img/getmatch-up-01.jpg")
                    span.article__image-caption Таблица ответов
                p Несмотря на то, что респонденты поняли оба варианта, победил второй флоу, опирающийся на пользовательскую проблему «хочу стать заметнее для компаний». Победил во многом из-за сходства с уже знакомым функционалом HeadHunter.
                p.article__image
                    a(href="../img/getmatch-calc-02.jpg" target="_blank")
                        img(src="../../img/getmatch-up-02.jpg")
                    span.article__image-caption Победил вариант справа
                p Стать заметнее можно, нажав на соответствующую команду в меню:
                p.article__image
                    a(href="../img/getmatch-calc-03.jpg" target="_blank")
                        img(src="../../img/getmatch-up-03.jpg")
                p Если кандидат уже становился заметнее, мы можем напомнить о возможности спустя пять дней:
                p.article__image
                    a(href="../img/getmatch-calc-04.jpg" target="_blank")
                        img(src="../../img/getmatch-up-04.jpg")
                p Стать заметнее могут только пользователи с открытым профилем. Перед открытием профиль модерирует наш специалист. Пока профиль проверяется, стать заметнее не получится. Для этого кейса запоминаем желание юзера и выполняем позже:
                p.article__image
                    a(href="../img/getmatch-calc-05.jpg" target="_blank")
                        img(src="../../img/getmatch-up-05.jpg")
                    span.article__image-caption А на скриншоте справа — текст технической ошибки
                p Если пользователю надоело становиться заметнее, он может попросить больше не напоминать ему об этой возможности:
                p.article__image
                    a(href="../img/getmatch-calc-06.jpg" target="_blank")
                        img(src="../../img/getmatch-up-06.jpg")
                h2 Результаты
                p Благодаря поднятию профилей в ленте мы получили NDA дополнительных наймов в месяц (за каждый найм компания платит фиксированную цену). Старые кандидаты начали получать предложения — у них возродилось ощущение, что сервис живёт и работает.
                p Однако, период в 5 дней оказался слишком частым. Некоторые пользователи подбрасывали свой профиль каждый раз и мозолили рекрутерам глаза, провоцируя их скрывать себя из ленты навсегда. Одновременно с этим рекрутерам стало тяжелее добираться до только-только добавленных кандидатов.
                p Через месяц после релиза мы увеличили период до 15 дней и стали показывать поднятые профили после только-только добавленных. Метрики одобрения поднятых кандидатов немного упали, но всё равно остались выше изначальных значений.