include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/footer/footer
doctype html
html
    +head(
      'сошников — интервью — разбитое зеркало',
      '',
      'http://sayocean.me/img/broken-mirror.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            +article-breadcrumb('разбитое зеркало', 'broken-mirror')
            +articleHeadline('интервью')
            div.article__content
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/broken-mirror/interview.md
            div.article__next
                a(href="broken-mirror.html") ← вернуться в содержание
    +footer()
