include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / приговор европе',
    'рецензия на роман дмитрия петровского "дорогая, я дома". книжная полка вадима левенталя, 2018',
    'http://www.proarte.ru/upload/medialibrary/d5e/d5e0202c0481b281d5a317136128900e.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Приговор Европе')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/books/darling-im-home.md
    +footer()
