include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
      'пленительное обаяние аристократизма',
      'артём cошников — о о новом фильме про владимира сорокина, его визуальной красоте и ' +
      'мелочах, спрятанных за фигурой писателя',
      'http://muzlifemagazine.ru/wp-content/uploads/2019/09/40_10-1.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Пленительное обаяние аристократизма')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/movies/sorokin-trip.md
    +footer()
