include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/year/year
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
        'артём сошников / публикации',
        'книжные рецензии, статьи и эссе',
        'http://sayocean.me/img/default.jpg',
        ''
        )
body.body_dark
    +header()
    div.content
        +page-header('Публицистика', 'dark')
        div.data
            div.years
                +year('2019').year_active
                +year('2018')
                +year('2017')
            div.list
                div.list__section
                    +list-header('книги')
                    +list-row('oposredovanno.html', 'опосредованно', 'сальников', '', '')
                    +list-row('http://rara-rara.ru/menu-texts/do_i_posle_smerti', 'две книги о смерти', 'мохов/гаванде', 'rara avis', 'blank')
                    +list-row('http://rara-rara.ru/menu-texts/professionalam_tut_ne_mesto', 'любитель', 'мерифилд', 'rara avis', 'blank')
                    +list-row('ivanov-foodunit.html', 'пищеблок', 'иванов', 'telegram', '')
                    +list-row('buksha-open-inside.html', 'открывается внутрь', 'букша', 'telegram', '')
                    +list-row('salnikov-1904.html', 'на этом месте в 1904 году', 'сальников', 'telegram', '')
                    +list-row('hu-bo-elephant.html', 'слон сидит спокойно', 'ху бо', 'telegram', '')
                div.list__section
                    +list-header('фильмы')
                    +list-row('aika.html', 'айка', 'дворцевой', '', '')
    +footer()
