include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/year/year
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
        'артём сошников / публикации',
        'книжные рецензии, статьи и эссе',
        'http://sayocean.me/img/default.jpg',
        ''
        )
body.body_dark
    +header()
    div.content
        +page-header('Публицистика', 'dark')
        div.data
            div.years
                +year('2019')
                +year('2018').year_active
                +year('2017')
            div.list
                div.list__section
                    +list-header('книги')
                    +list-row('senchin-stories.html', 'квартирантка с двумя детьми', 'сенчин', '', '')
                    +list-row('seleba-in-prison.html', '3 1/2', 'навальный', '', '')
                    +list-row('shalamov.html', 'незаконная комета', 'михайлик', '', '')
                    +list-row('https://vk.com/@kotbrodskogo-vypem', 'конец воздержанию', 'сборник', 'кот бродского', 'blank')
                    +list-row('about-football.html', 'что мы думаем, когда думаем о футболе', 'кричли', '', '')
                    +list-row('dead-sophists.html', 'книга мертвых философов', 'кричли', '', '')
                    +list-row('darling-im-home.html', 'дорогая, я дома', 'петровский', '', '')
                    +list-row('rain-in-paris.html', 'дождь в париже', 'сенчин', '', '')
                    +list-row('department.html', 'отдел', 'сальников', '', '')
                    +list-row('stories-meschaninova.html', 'рассказы','мещанинова', '', '')
                    +list-row('against-elections.html', 'против выборов', 'ван рейбрук', '', '')
                    +list-row('lonely-city.html', 'одинокий город', 'лэнг', '', '')
                    +list-row('stoya.html', 'как быть стоиком', 'пильюччи', '', '')
                div.list__section
                    +list-header('музыка')
                    +list-row('three-songs-about.html', 'три песни о детстве', 'црвених цветова', '', '')
                    +list-row('nedokasaemost.html', 'недокасаемость', 'гречка', '', '')
                    +list-row('monetochka.html', 'монеточка теперь всерьез', '', 'telegram', '')
                    +list-row('metal.html', 'металхэд василий', 'интервью', '', '')
                div.list__section
                    +list-header('фильмы')
                    +list-row('acid.html', 'кислота', 'горчилин', 'telegram', '')
                    +list-row('you-will-die.html', 'вы умрете или мы вернем вам деньги', 'эдмундс', 'telegram', '')
                div.list__section
                    +list-header('черри-эссе')
                    +list-row('migrants-and-coffee.html', 'мигранты и кофе', '', '', '')
                    +list-row('snishobism.html', 'снисхобизм', '', '', '')
                    +list-row('noise.html', 'шум и проза', '', '', '')
                    +list-row('drowned.html', 'аквацентричность', '', '', '')
    +footer()
