include ../../components/head/head
include ../../components/header/header
include ../../components/footer/footer
include ../../components/page-header/page-header
include ../../components/book-card/book-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников — проза',
      'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
      'http://sayocean.me/img/default.jpg',
      ''
    )
body.body_dark
    +header()
    div.content
        +page-header('контактная информация', 'dark')
        +bookCard('telegram', 'отвечаю быстрее всего', 'http://ttttt.me/sayocean')
            +bookLink('@sayocean', 'http://ttttt.me/sayocean')
        +bookCard('facebook', 'делюсь важными новостями и бытовыми зарисовками', 'http://facebook.com/sayocean450')
            +bookLink('facebook.com/sayocean450', 'http://facebook.com/sayocean450')
        +bookCard('почта', 'для тех, у кого нет телеграма. отвечаю в течение 48 часов', '')
            +bookLink('sayocean450🐶gmail.com', '')

