.contacts {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font: $groteskMain;
  line-height: 1.7;
  color: $white;
  
  @include respond(mobile) {
    width: 80%;
    line-height: 1.5;
    
    p {
      margin-top: 0;
    }
  }
}
