mixin feed-article(headline, sourceLink, sourceName)
    div.feed-article
        header
            h3=headline
        div.feed-article__content
            if block
                block
            else
                p No content provided
        footer.feed-article__footer
            span
            =" "
            a(href=sourceLink)=sourceName
