include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Дизайн-хакатон: домашняя страница сервиса Wrike • Артём Самсонов • Продуктовый дизайнер',
      'Краткая презентация того, как я визуализировал минималистичный концепт домашнего экрана',
      'http://artemsamsonov.com/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            section
                h1 Дизайн-хакатон: домашняя страница сервиса Wrike
                p.article__annotation Краткая презентация того, как я визуализировал минималистичный концепт домашнего экрана для продукта Wrike
                h2 Чистый и минималистичный
                p Концепт повторяет двухцветный логотип компании: функциональность домашнего экрана преимущественно чёрная, цветом выделены дополнительные акценты. Цвета взяты из палитры брендбука. Тени и границы используются только для Приложений, т.к. это самые важные элементы домашнего экрана:
                p.article__image
                    a(href="../img/hakaton-01.jpg" target="_blank")
                        img(src="../../img/hakaton-01.jpg")
                    //span.article__image-caption
            section
                h2 Два режима
                p У интерфейса есть два режима: использование и редактирование. Если пользователь захочет переместить любую секцию, он кликнет по иконке карандаша:
                p.article__image
                    a(href="../img/hakaton-02.jpg" target="_blank")
                        img(src="../../img/hakaton-02.jpg")
                    //span.article__image-caption
            section
                h2 Перетаскивание секций
                p Пользователь может перемещать секции в любуя ячейки сетки. У секций есть три вида отображения: центральный, основной и вторичный:
                p.article__image
                    iframe(width="560" height="400" src="https://www.youtube.com/embed/5yKSy0PJiao" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            section
                h2 Полезные действия
                p Для каждой сущности на домашнем экране есть дополнительные действия. Например, кликнув по иконке рядом со спейсом, можно посмотреть ваши наиболее популярные папки:
                p.article__image
                    a(href="../img/hakaton-03.jpg" target="_blank")
                        img(src="../../img/hakaton-03.jpg")
                    //span.article__image-caption
            section
                h2 Тёмная тема
                p Просто тёмная тема, основанная на цветах из брендбука:
                p.article__image
                    a(href="../img/hakaton-04.jpg" target="_blank")
                        img(src="../../img/hakaton-04.jpg")
                    //span.article__image-caption
                p.article__image
                    a(href="../img/hakaton-05.jpg" target="_blank")
                        img(src="../../img/hakaton-05.jpg")
                    //span.article__image-caption