include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'не шедевр, но и ладно',
    'артём cошников — о британской чёрной комедии, весело эксплуатирующей образ молодого писателя',
    'https://img08.rl0.ru/afisha/e945x532p0x30f1000x571q85i/s4.afisha.ru/mediastorage/8e/cd/b3961e2ec158418bb9451c9acd8e.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Не шедевр, но и ладно')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/review/you-will-die.md
    +footer()
