mixin fotorama()
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
