include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'Исследование персон кандидатов getmatch • Артём Самсонов • Продуктовый дизайнер',
      'Как мы сформировали персоны кандидатов в продукте и пользуемся ими до сих пор',
      'http://artemsamsonov.com/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            section
                h1 Исследование персон кандидатов getmatch
                p.article__annotation getmatch пользуются разные кандидаты — у каждого из них свои потребности и цели. Мы с нанятым UX-исследователем сформировали пять персон, построили для них CJM'ы и наметили точки роста продукта
                h2 Этап 1. Выбор метода и скрипт исследования
                p  Опираясь на цель исследования, мы решили провести серию глубинных интервью с кандидатами. Выделили три блока:
                ul
                    li Знакоство с кандидатом, общие вопросы
                    li Интервью о поиске работы: как, где и когда кандидаты ищут вакансии, как откликаются, что происходит на последующих этапах
                    li Поиск работы в getmatch: вопросы о регистрации в боте, кейсы его использования, преимущества и  недостатки сервиса
                p.article__image
                    a(href="../img/getmatch-personas-01.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-01.jpg")
                    span.article__image-caption Выдержка из написанного скрипта
                h2 Этап 2. Рекрутинг респондентов
                p Пользователей, которые не ищут работу в данный момент, рекрутрировали с помощью рассылки в телеграм-бот. Активным кандидатам пройти интервью помогали рекрутеры, которые связывались с ними по поводу открытых вакансий.
                p.article__image
                    a(href="../img/getmatch-personas-02.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-02.jpg")
                p Я заранее прописал критерии аудитории:
                ul
                    li A-грейд
                    li Любой формат работы (но не больше пяти кандидатов, которые смотрят только релокейт)
                    li Специализации: любые разработчики, продакты, тестировщики, дизайнеры
                    li Русскоязычные (на всякий случай)
                p Совместно с UX-писательницей разработали скрипты для рекрутеров, чтобы они прописывали кандидатов быстро и без лишней когнитивной нагрузки ↓
                p.article__image
                    a(href="../img/getmatch-personas-03.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-03.jpg")
                p Кандидаты бронировали удобное время в Calendly, интеграция создавала нашей UX-исследовательнице встречу в календаре со ссылкой на Zoom.
                h2 Проведение интервью и подведение итогов
                p Сессии записывали с согласия респондента и транскрибировали с помощью AI-бота. Полный текст, саммари и общие выводы UX-исследовательница формировала самостоятельно.
                p После проведения 22 интервью мы проанализировали все саммари и выявили закономерности. Чётко очертились шесть групп пользователей. Каждая группа отличалась не только способом взаимодействия с продуктом, но и возрастом, уровнем квалификации, предыдущим опытом. А самое главное — у каждой группы существовали уникальные потребности.
                p Я не могу показать все персоны, однако, опубликую одну из сформированных карточек:
                p.article__image
                    a(href="../img/getmatch-personas-04.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-04.jpg")
                p На примере — «Стратег», наиболее ответственный пользователь, относящийся к поиску новой компании как ко второй работе. Стратеги рассказали нам о себе много неочевидных фактов. Например, оказалось, что для полноценного поиска работы в getmatch они используют компьютер — так легче сортировать информацию по папкам, сохранять и пересылать ссылки, вести историю собеседований. Нам же казалось, что подавляющее большинство пользователей используют телеграм-бот и мобильную веб-версию.
                p В итоге мы получили не только шесть сформированных персон, но и целую пачку информации к размышлению. Её мы распилили на дизайн-задачи для ресёрча:
                p.article__image
                    a(href="../img/getmatch-personas-05.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-05.jpg")
                    span.article__image-caption Разбор сообщения, которое смущало кандидатов и вызывало негатив
                h2 Дальнейшие шаги
                p Опираясь на персоны, мы создали JTBD и CJM для каждой роли и скрестили их с OKR, прописанными в стратегии. Совпадающие задачи («улучшит UX & даст рост метрик») распределили по трекам и кварталам. Так, например, появилась задача
                a(href="getmatch-calc.html") «Зарплатный калькулятор»
                |
                |— четыре персоны назвали анализ рынка своей потребностью; чаще всего хотели анализировать именно зарплатные вилки.
                p
                p Мы организовали серию воркшопов, на которых рассказали про персоны и методы работы с ними. Теперь метрики и гипотезы всегда оббиваются о полученные знания.
                p Также мы скормили ChatGPT данные о все персонах, записи и транскрипции интервью, саммари, полученные выводы — и получили AI-персоны. GPT-UX-исследователь выступает в этом проекте фасилитатором — можно дать ему проверить гипотезу на той или иной персоне в случае, если на полноценное исследование нет времени и ресурсов.
                p.article__image
                    a(href="../img/getmatch-personas-05.jpg" target="_blank")
                        img(src="../../img/getmatch-personas-05.jpg")
                    span.article__image-caption Пример: AI-UX-исследователь проводит интервью со Стратегом