include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/footer/footer
doctype html
html
    +head(
      'сошников — витрины — рассказы разных бед',
      '',
      'http://sayocean.me/img/misfortunes.jpg',
      'article'
    )
body.body_light
    +header().header_light
    div.content
        div.article
            +article-breadcrumb('рассказы разных бед', 'misfortunes')
            +article-header('витрины')
            div.article__content
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/misfortunes/shop-windows.md
            div.article__next
                a(href="misfortunes.html") ← вернуться в содержание
                a(href="coffins.html") читать предыдущий рассказ «гробы» →
        +footer()
