.connotation-row {
  @include col100(8px 0, row, space-between);
  height: 32px;
  align-items: baseline;
  font: $groteskMain;
  text-transform: lowercase;
  
  &__name {
    width: auto;
    padding: 0 12px 0 0;
    
    a {
      color: $milanoRed;
    }
  }
  
  &__line {
    flex: 1;
    height: 1px;
    border-bottom: 1px dotted darken($soapStone, 20%);
  }
  
  &__source {
    width: auto;
    padding: 0 0 0 12px;
    color: darken($soapStone, 20%);
  }
}
