include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — вот мои селфи',
      'цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе 90-х',
      'http://soshnikov-writing.art/img/selfie-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article sample

