include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'артём самсонов × продуктовый дизайнер',
      'опыт и скиллы',
      'http://soshnikov-writing.art/img/default.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article sample

