include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / снисхобизм',
    'черри-эссе об особом типе снобизма и его последствиях',
    'http://sayocean.me/img/default.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Снисхобизм')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../soshnikov-writing/publications/esse/snishobism.md
    +footer()
