.case-card {
  @include col100(4px 0 16px 0, row, space-between);
  color: $white;
  font: $desktopSmall;
  border-top: 1px solid $codGray;
  
  @include respond(mobile) {
    @include col100(2px 0 24px 0, column);
  }
  
  &__name {
    @include col25(0);
    
    @include respond(mobile) {
      @include col100(0);
    }
    
    a {
      color: $white;
    }
    
    h3 {
      margin: 0;
    }
  }
  
  &__description {
    @include col30(0);
    
    @include respond(mobile) {
      @include col100(12px 0);
      color: $gray;
    }
  }
  
  &__links {
    @include col15(0 0 0 0, column);
    align-items: flex-end;
    
    @include respond(mobile) {
      @include col100(12px 0 0 0, column);
      align-items: flex-end;
    }
  }
}
