.case-card {
  @include col30(0, column);
  color: inherit;

  @include respond(mobile) {
    @include col100(0, column);
    margin: 0 0 32px 0;
  }

  &__cover {
    margin: 0 0 16px 0;

    @include respond(mobile) {
      margin: 0 0 8px 0;
    }

    img {
      width: 100%;
      border: 1px solid $codGray;
    }
  }

  &__headline {
    color: $coldBlue;
  }

  &__description {
    font: $desktopSmall;
    color: $gray;
  }
}