mixin caseCard(cover, headline, description, link)
    a.case-card(href=`${link}`)
        div.case-card__cover
            img(src=`../../img/${cover}.jpg`)
        div.case-card__headline
            h3=headline
        div.case-card__description=description
        div.case-card__button
