include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/page-description/page-description
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / вот мои селфи',
    '',
    '../../img/selfie.jpg',
    'book'
    )
body.body_dark
    +header()
    div.content
        +page-header('Вот мои селфи')
        div.annotation
            div.annotation__image
                img(src="http://sayocean.me/img/selfie-cover.jpg")
            div.annotation__description
                p
                | Пять лет назад, уезжая с концами из родного поволжского городка в Петербург, я случайно выбросил коробку с семейными фотографиями. Не осталось ничего: ни свадебных снимков родителей, ни моих детских фотокарточек, где я стою в белых колготах на деревянном стульчике.
                p
                | Спустя три года я решил собрать фотоальбом заново, с помощью слов. Он получился не таким наглядным, как раньше, но искренним. В нём нет натянутых улыбок и фальшивого благополучия.
                p
                | Вот они, мои селфи.
        div.data
            div.list
                div.list__section
                    +list-header('тёмка')
                    +list-row('pomegranade.html', 'гранаты', '', '', '')
                    +list-row('clump.html', 'клок', '', 'взмах-4')
                    +list-row('suite.html', 'костюм', '', 'взмах-4')
                    +list-row('run-tema-run.html', 'эстафеты', '', 'взмах-4')
                    +list-row('not-chav.html', 'ни пацан, ни мацан', '', '')
                    +list-row('park.html', 'парк', '', 'взмах-4')
                    +list-row('bag.html', 'пакет', '', 'взмах-4')
                div.list__section
                    +list-header('тёмыч')
                    +list-row('debut.html', 'дебют', '', '')
                    +list-row('alien.html', 'инопланетянин', '', '')
    +footer()
