include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/footer/footer
doctype html
html
    +head(
      'сошников — вот мои селфи',
      'цикл ироничной прозы о мальчике тёме и его детстве в криминальном городе 90-х',
      'http://soshnikov-writing.art/img/selfie-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/selfie.md
        +footer()
