include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
include ../../components/connotation-row/connotation-row
doctype html
html
    +head(
      'сошников — разбитое зеркало',
      '',
      'http://sayocean.me/img/broken-mirror.jpg',
      'article'
    )
body.body_light
    +header().header_light
    div.profile
        div.profile__title
            h1 разбитое зеркало
        div.profile__annotation
            p Сценарист «Чёрного зеркала» Чарли Брукер придумал захватывающую историю, но в России, как вы понимаете, она примет совершенно иные очертания.
        div.profile__cover
            img(src="../../img/broken-mirror-cover.jpg")
        div.profile__connotation-title
            h1 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                a.profile__connotation-link(href='interview.html') интервью
    +footer()
