include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/page-description/page-description
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / чужие снимки',
    '',
    '../../img/shoots.jpg',
    'book'
    )
body.body_dark
    +header()
    div.content
        +page-header('Чужие снимки')
        div.annotation
            div.annotation__image
                img(src="http://sayocean.me/img/shoots-cover.jpg")
            div.annotation__description
                p Сборник короткой прозы о смешных, наивных, но в целом замечательных людях.
                p Большинство историй написаны и опубликованы в самиздат-сообществе «Dutch Rudder».
                p vk.com/drudder
        div.data
            div.list
                div.list__section
                    +list-header('содержание')
                    +list-row('serega.html', 'сосед серёга', '', '', '')
                    +list-row('watermelon.html', 'арбуз', '', '', '')
                    +list-row('bookkeeper.html', 'бухгалтер', '', '', '')
                    +list-row('fatfob.html', 'фэтфоб', '', '', '')
                    +list-row('boss.html', 'начальник', '', '', '')
                    +list-row('hobby.html', 'хобби', '', '', '')
                    +list-row('marmelade.html', 'сонечка marmelade', '', '', '')
                    +list-row('deputy.html', 'депутат елистратыч', '', '', '')
                    +list-row('susi.html', 'доставщик суси', '', '', '')
                    +list-row('hustle.html', 'хаслер', '', '', '')
                    +list-row('brush.html', 'кисточка', '', '', '')
    +footer()
