include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/page-description/page-description
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
    'Артём Сошников / Рассказы разных бед',
    '',
    'http://sayocean.me/img/misfortunes.jpg',
    'book'
    )
body.body_dark
    +header()
    div.content
        +page-header('Рассказы разных бед')
        div.annotation
            div.annotation__image
                img(src="../../img/misfortunes-cover.jpg")
            div.annotation__description
                p «Когда студенты не могут снимать жизнь другого, это значит, что они поглощены чем-то, собственной драмой. Как правило, это отношения с родителями, с мамой. И тут все устоявшиеся метафоры о святом имени мамы выполняют роль убийцы.
                p Тогда я прошу все отбросить и рассказать об этой истории, пусть она очень личная, пусть это пока только мир твоей семьи. Но тебе необходимо рассказать о своих страданиях, раз они не дают тебе двигаться дальше: снять об этом кино или написать книгу».
                p
                    i Марина Разбежкина, из интервью «Горькому»
        div.data
            div.list
                div.list__section
                    +list-header('содержание')
                    +list-row('coupe.html', 'купе', '', '', '')
                    +list-row('coffins.html', 'гробы', '', '')
                    +list-row('shop-windows.html', 'витрины', '', '')
                    +list-row('opposite-window.html', 'окно напротив', '', '')
    +footer()
