include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline


doctype html
html
    +head(
      'сошников — рассказы разных бед',
      'строгая реалистическая проза о людях, их демонах и окружающей нас боли',
      'http://soshnikov-writing.art/img/misfortunes-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.profile
        div.profile__title
            h2 рассказы разных бед
        div.profile__annotation
            p «Когда студенты не могут снимать жизнь другого, это значит, что они поглощены чем-то, собственной драмой. Как правило, это отношения с родителями, с мамой. И тут все устоявшиеся метафоры о святом имени мамы выполняют роль убийцы.
            p Тогда я прошу все отбросить и рассказать об этой истории, пусть она очень личная, пусть это пока только мир твоей семьи. Но тебе необходимо рассказать о своих страданиях, раз они не дают тебе двигаться дальше: снять об этом кино или написать книгу».
            p
                i Марина Разбежкина, из интервью «Горькому»
        div.profile__cover
            img(src="http://soshnikov-writing.art/img/misfortunes.jpg")
        div.profile__connotation-title#connotation
            h2 содержание
        div.profile__connotation-contents
            div.profile__connotation-section
                a.profile__connotation-link(href='coupe.html') купе
                a.profile__connotation-link(href='coffins.html') гробы
                a.profile__connotation-link(href='shop-windows.html') витрины
            div.profile__connotation-section
                a.profile__connotation-link(href='uroboros.html') Уроборос
                a.profile__connotation-link(href='winger.html') Вингер

