include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/article-breadcrumb/article-breadcrumb

doctype html
html
    +head(
      'сошников — гробы — рассказы разных бед',
      'из цикла «рассказы разных бед»',
      'http://soshnikov-writing.art/img/misfortunes-og.jpg',
      'article'
    )
body.body_light
    +header()
    div.content
        div.article
            +article-breadcrumb('рассказы разных бед', 'misfortunes')
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/misfortunes/coffins.md
            div.article__next
                a(href="misfortunes.html#connotation") ← вернуться в содержание
                a(href="shop-windows.html") читать следующий рассказ «витрины» →

