#index {
  //parent
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(3, auto);
  padding: 96px 0 0 0;

  @include respond(mobile) {
    padding-top: 0;
  }
}

/*** Main Info ***/
#main-info {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 1;

  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(1, auto);

  margin: 32px 0 96px 0;

  @include respond(mobile) {
    grid-template-rows: repeat(2, auto);
    margin: 16px 0 32px 0;
  }

  &-text {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;

    font: $desktopH2;
    font-weight: bold;
    color: $white;

    @include respond(mobile) {
      grid-column-start: 1;
      grid-column-end: 21;
      grid-row-start: 2;

      font: $mobileH2;
    }
  }

  &-pic {
    grid-column-start: 16;
    grid-column-end: 21;
    grid-row-start: 1;

    @include respond(mobile) {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;

      margin: 0 0 24px 0;
    }

    img {
      width: 100%;
    }
  }
}

/*** Skills ***/
#skills {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 2;

  margin: 0 0 64px 0;

  @include respond(mobile) {
    margin: 0 0 32px 0;
  }
}

.skills-row {
  @include col100(0, row);
  font: $desktopSmall;

  @include respond(mobile) {
    @include col100(0, column);
  }
}

/*** Cases ***/
#cases {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 3;

  @include col100(0, column);

  margin: 0 0 72px 0;
}
