include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/case-card/case-card
include ../../components/book-link/book-link
include ../../components/skill/skill
doctype html(prefix="og: http://ogp.me/ns#")
html
	+head(
		'Артём Самсонов • Продуктовый дизайнер',
        'Продуктовый дизайнер из Петербурга',
        'http://artemsamsonov.com/img/default.jpg',
		''
	)
body.body_dark
	+header('dark')
	div#index
		div#main-info
			div#main-info-text.main-info Привет! Меня зовут Артём, я продуктовый дизайнер из Петербурга. Больше десяти лет я проектирую цифровые продукты и помогаю вывести их на новый уровень
			div#main-info-pic
				img(src="../../img/profile-pic.jpg")
		div#skills
			+list-header('Я готов:', 'dark')
			div.skills-row
				+skill('🏗️','Сделать ваш интерфейс консистентным','Я работаю с дизайн-системами больше трёх лет. Полтора года я улучшал большую и много– уровневую дизайн-систему в компании Wrike')
				+skill('👨‍👩‍👦','Сфокусироваться на проблемах юзеров','В Wrike я проводил интервью и юзабилити-тесты совместно с UX-ресёрчерами и проджект-менеджерами')
				+skill('👨‍💻','Улучшить дизайн-процессы','Больше полутора лет я работал в большой интернациональной команде дизайнеров. Вместе мы научились взаимодействовать друг с другом и организовывать кросс-командные инициативы')
				+skill('🤝🏾','Найти общий язык с разработчиками','В компании PropellerAds я учил JavaScript и React, пробовал сблизить дизайн и разработку, создавая быстрые прототипы')
		div#cases
			+list-header('Работы', 'dark')
			+caseCard('Как перестать блуждать ёжиком в тумане и улучшать продукт разумно', 'Рассказываю на примере интеграции Wrike for MS Teams, как перестать делать лишнюю работу и реально помогать пользователям', 'msteams-notifications.html')
				+bookLink('Смотреть', 'msteams-rebuild.html')
			+caseCard('Как мы спроектировали нотификации для MS Teams', 'Рассказываю о проблемах, с которыми мы столкнулись в процессе проектирования и как мы решали их с помощью пользователей', 'msteams-notifications.html')
				+bookLink('Смотреть', 'msteams-notifications.html')