include ../../components/head/head
include ../../components/header/header
include ../../components/footer/footer
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'артём сошников',
      'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
      'http://sayocean.me/img/default.jpg',
      ''
    )
body.body_dark
    +header('dark')
    div.index
        div#main-info
            p
                | пишу
                = " "
                a.index__main-info-link(href="writing.html") рассказы
                = " "
                | и повести, изучаю
                =" "
                | творчество русских реалистов, веду
                = " "
                a.index__main-info-link(href="http://t.me/blacktrope" target="blank") telegram-канал
                = " "
                | «чернотроп».
        div#secondary-info
            div#fact-1 родился и вырос в ульяновске, шесть лет живу в петербурге
            div#fact-2 работал дворником, сторожем, разнорабочим на заводах. сейчас комфортно увядаю в IT
            div#fact-3 выпускник литературной мастерской аствацатурова и орехова (2016)
            div#fact-4 выпускник школы культурной журналистики, направление литературной критики (2018)
    +footer()
