#index {
  //parent
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(3, auto);
}

#main-info {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 1;
  
  @include col80(64px 0);
  font: $groteskExtraLarge;
  font-weight: 700;
  color: $white;
  
  @include respond(mobile) {
    @include col100(0);
    font: $groteskLarge;
  }
  
  p {
    margin: 0;
  }
}

#writing {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 2;
  
  @include col100(72px 0 0 0, column);
}

.writing {
  &__section {
    @include col100(0 0 48px 0, column);
  }
}

#contacts {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 3;
  
  @include col100(120px 0 0 0);
  font: $groteskExtraLarge;
  font-weight: 700;
  color: $gray;
  
  @include respond(mobile) {
    @include col100(32px 0 24px 0);
    font: $groteskMain;
  }
  
  a {
    color: darken($chromeYellow, 30%);
    
    @include respond(mobile) {
      color: darken($chromeYellow, 15%);
    }
  }
  
  p {
    margin: 0;
  }
}
