include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/skill-card/skill-card
include ../../components/case-card/case-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
	+head(
		'Артём Самсонов • Продуктовый дизайнер',
        'Продуктовый дизайнер из Москвы и Петербурга',
        'http://artemsamsonov.com/img/default.jpg',
		''
	)
body.body_dark
	+header('dark')
	div#index
		div#main-info
			div#main-info-text.main-info Продуктовый дизайнер из Москвы и Петербурга. Двенадцать лет я проектирую цифровые enterprise-продукты и помогаю выводить их на новый уровень
			div#main-info-pic
				img(src="../../img/profile-pic.jpg")
		div#skills
			+list-header('Компетенции', 'dark')
			+skillCard('Проектирование макетов', 'Работаю в Figma, использую вложенные символы, переменные, собираю интерактивные прототипы. Пример', '01')
			+skillCard('UX-исследования', 'Самостоятельно провёл более пятидесяти глубинных интервью, нанял и координировал работу UX-исследователя; проводил юзабилити и A/B-тесты', '02')
			+skillCard('UX-редактура', 'Пишу тексты для телеграм-бота и рассылок getmatch, координировал работу и развивал UX-писателя, составлял UX writing-гайды', '03')
			+skillCard('Работа с дизайн-системами', 'Полтора года отвечал за дизайн-систему из 150+ компонентов в компании Wrike: развивал компоненты, ревьюил задачи других дизайнеров, писал документацию', '04')
		div#cases
			+list-header('Кейсы getmatch', 'dark')
			div.cases__content
				+caseCard('case-04', 'Зарплатный калькулятор', 'Как я проектировал инструмент для аналитики зарплат в русском IT', 'getmatch-calc.html')
				+caseCard('case-05', 'Поднятие профиля', 'Механизм, помогающий кандидатам стать заметнее для компаний, а рекрутерам — находить кандидатов из глубины ленты', 'getmatch-up.html')
				+caseCard('case-06', 'Исследование персон кандидатов', 'Как мы сформировали персоны кандидатов в продукте и пользуемся ими до  сих пор', 'getmatch-personas.html')
			+list-header('Wrike • 2019–2022', 'dark').list-header-second
			div.cases__content
				+caseCard('case-01', 'Как перестать блуждать ёжиком в тумане и улучшать продукт разумно', 'Рассказываю на примере интеграции Wrike for MS Teams, как перестать делать лишнюю работу и реально помогать пользователям', 'msteams-rebuild.html')
				+caseCard('case-02', 'Как мы проектировали уведомления из Wrike в MS Teams', 'Рассказываю о проблемах, с которыми мы столкнулись в процессе проектирования и как мы решали их с помощью пользователей', 'msteams-notifications.html')
				+caseCard('case-03', 'Почему дизайнерам компонентов нужно доплачивать за вредность', 'Рассказываю на примере компонента «Календарь», как типичная на первый взгляд задача способна довести продуктового дизайнера до слёз', 'calendar-from-hell.html')