include ../../components/head/head
include ../../components/header/header
include ../../components/list-header/list-header
include ../../components/skill-card/skill-card
include ../../components/case-card/case-card
include ../../components/book-link/book-link
doctype html(prefix="og: http://ogp.me/ns#")
html
	+head(
		'Артём Самсонов • Продуктовый дизайнер',
        'Продуктовый дизайнер из Петербурга',
        'http://artemsamsonov.com/img/default.jpg',
		''
	)
body.body_dark
	+header('dark')
	div#index
		div#main-info
			div#main-info-text.main-info Продуктовый дизайнер из Петербурга. Больше десяти лет я проектирую цифровые enterprise-продукты и помогаю выводить их на новый уровень
			div#main-info-pic
				img(src="../../img/profile-pic.jpg")
		div#skills
			+list-header('Я готов:', 'dark')
			+skillCard('Сделать ваш интерфейс консистентным', 'Я работаю с дизайн-системами больше трёх лет. Полтора года я улучшал большую и многоуровневую дизайн-систему в компании Wrike', '01')
			+skillCard('Сфокусироваться на проблемах юзеров', 'В Wrike я проводил интервью и юзабилити-тесты совместно с UX-ресёрчерами и проджект-менеджерами', '02')
			+skillCard('Улучшить дизайн-процессы', 'Больше полутора лет я работал в большой интернациональной команде дизайнеров. Вместе мы научились взаимодействовать друг с другом и организовывать кросс-командные инициативы', '03')
			+skillCard('Найти общий язык с разработчиками', 'В компании PropellerAds я учил JavaScript и React, пробовал сблизить дизайн и разработку, создавая быстрые прототипы', '04')
		div#cases
			+list-header('Портфолио', 'dark')
			div.cases__content
				+caseCard('case-01', 'Как перестать блуждать ёжиком в тумане и улучшать продукт разумно', 'Рассказываю на примере интеграции Wrike for MS Teams, как перестать делать лишнюю работу и реально помогать пользователям', 'msteams-rebuild.html')
				+caseCard('case-02', 'Как мы проектировали уведомления из Wrike в MS Teams', 'Рассказываю о проблемах, с которыми мы столкнулись в процессе проектирования и как мы решали их с помощью пользователей', 'msteams-notifications.html')
				+caseCard('case-03', 'Почему дизайнерам компонентов нужно доплачивать за вредность', 'Рассказываю на примере компонента «Календарь», как типичная на первый взгляд задача способна довести продуктового дизайнера до слёз', 'calendar-from-hell.html')
				//+caseCard('case-01', 'Дизайн-хакатон: домашняя страница сервиса Wrike', 'Краткая презентация того, как я визуализировал минималистичный концепт домашнего экрана', 'hakaton.html')