.index {
  @include col100(0 0 48px 0, column);
  height: 100vh;
  
  &__main-info {
    margin: 64px 0 72px 0;
    font: 5em/1.2em "PT Root UI Bold";
    font-weight: 700;
    color: $white;
    
    @include respond(mobile) {
      @include col100(0);
      font: 2em/1.2em "PT Root UI Bold";
    }
    
    p {
      margin: 0;
    }
  }
  
  &__secondary-info {
    @include col100(8px 0 0 0, row, space-between);
    font: $groteskMain;
    border-top: 4px solid $codGray;
    color: $gray;
    
    @include respond(mobile) {
      display: none;
    }
    
    &-fact {
      max-width: 220px;
      
      @include respond(tablet) {
        padding: 0 24px;
        
        &:first-child {
          padding-left: 0;
        }
        
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
