include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / три песни о детстве',
    'рецензия на EP группы Црвених Цветова «Три песни о детстве»',
    'http://sayocean.me/img/tsvetova.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Три песни о детстве')
        div.article.data_markdown-image
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/review/thee-songs-about.md
    +footer()
