include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / антропология мужика',
    'рецензия на роман романа сенчина "дождь в париже". редакция едены шубиной, 2018',
    'http://sayocean.me/img/rain-in-paris.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Антропология мужика')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/review/rain-in-paris.md
    +footer()
