include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / о писателях-любителях и писателях-профессионалах',
    'эссе о трудностях и возможностях молодых прозаиков',
    'http://sayocean.me/img/default.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('О писателях-любителях и писателях-профессионалах')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/esse/about-writers.md
    +footer()
