include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
include ../../components/related-items/related-items
include ../../components/go-back/go-back
doctype html
html
    +head(
    'быков всё сказал',
    'артём cошников — о предпоследнем фильме юрия быкова',
    'https://i0.wp.com/mirumaximum.ru/wp-content/uploads/2019/02/ba5c6c9f3e36f7bebcadf8cb1f2e46fb.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Быков всё сказал')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../../soshnikov-writing/publications/review/factory.md
            +relatedItems('Почитайте ещё:')
                p
                    | О
                    = " "
                    a(href="aika.html") нашумевшем фильме
                    =" "
                    | Сергея Дворцевого «Айка», бесспорных плюсах картины и откровенном переборе с реализмом.
                p
                    | О
                    = " "
                    a(href="stories-meschaninova.html") пронзительных рассказах
                    =" "
                    | Наталии Мещаниновой, вселяющих в людей не только ужас, но и надежду.
                p
                    | О
                    = " "
                    a(href="buksha-open-inside.html") сборнике рассказов
                    =" "
                    | Ксении Букши «Открывается внутрь» и её удивительном умении превращать слабости в приёмы.
                +goBack
    +footer()
