mixin relatedItems(headline)
    div.related-items
        div.related-items__header
            h3.related-items__headline=headline
        if block
            block
        else
            p No content provided
