include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / повесть "наблюдатель"',
    'совсем скоро артём сошников выложит сюда свою дебютную повесть. если не умрёт.',
    'http://sayocean.me/img/observer.jpg',
    'book'
    )
body.body_light
    +header()
    div.content
        +article-header('Наблюдатель')
        div.article
            p.article__lead Надеюсь, к февралю-марту здесь появится моя дебютная повесть — если, конечно, я не умру.
    +footer()
