include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/footer/footer
doctype html
html
    +head(
      'сошников — инсайд — лысый',
      '',
      'http://sayocean.me/img/inside.jpg',
      'article'
    )
body.body_light
    +header().header_light
    div.content
        div.article
            +article-breadcrumb('инсайд', 'inside')
            +article-header('лысый')
            div.article__content
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/inside/bald.md
            div.article__next
                a(href="inside.html") ← вернуться в содержание
                a(href="berserk.html") читать продолжение →
        +footer()
