include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / конец эпохи селф-хелп',
    'обзор книги свена бринкмана о вреде непрерывного саморазвития',
    'http://sayocean.me/img/self-help.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Конец эпохи селф-хелп')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/review/self-help.md
    +footer()
