@import "../../scss/grid";
@import "../../scss/typo";

.header {
  @include col100(0 48px, row, flex-start, center);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 64px;
  font: $groteskMain;
  background-color: $darkGray;
  
  @include respond(mobile) {
    @include col100(0 12px, row, flex-start, center);
  }
  
  a {
    color: $coldBlue;
  }
  
  &__logo {
    @include col20(0);
    
    @include respond(mobile) {
      @include col90(0 12px, row, flex-start);
    }
    
    &-link {
      color: inherit;
      line-height: 1;
    }
  }
  
  &__menu {
    @include col80(0, row, flex-end);
    
    @include respond(tablet) {
      @include col80(0, row, flex-end);
    }
    
    @include respond(mobile) {
      @include col50(0 12px, row, flex-end);
    }
    
    &-elem {
      @include colauto(0 0 0 48px);
      
      @include respond(mobile) {
        @include colauto(0 0 0 24px);
      }
    }
  }
  
  &_light {
    background-color: $soapStone;
    border-bottom: 1px solid darken($soapStone, 20%);
    
    a {
      color: $black;
    }
  }
}
