@import "../../scss/grid";
@import "../../scss/typo";

.header {
  @include col100(0 32px, row, flex-start, center);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 48px;
  font: $groteskMain;
  background-color: $darkGray;
  
  @include respond(mobile) {
    @include col100(0 12px, row, flex-start, center);
  }
  
  a {
    color: $chromeYellow;
  }
  
  & svg {
    fill: $white;
  }
  
  &__logo {
    @include col20(0);
    
    @include respond(mobile) {
      @include col90(0 12px, row, flex-start);
    }
    
    &-link {
      color: inherit;
      line-height: 1;
    }
  }
  
  &__menu {
    @include col80(0, row, flex-end);
    
    @include respond(tablet) {
      @include col80(0, row, flex-end);
    }
    
    @include respond(mobile) {
      display: none;
    }
    
    &_mobile {
      display: none;
      
      @include respond(tablet) {
        display: none;
      }
      
      @include respond(mobile) {
        @include colauto(0, column, center, flex-end);
        
        a {
          width: 24px;
          height: 24px;
        }
      }
    }
    
    &-elem {
      @include colauto(0 0 0 48px);
      color: $chromeYellow;
      
      &_disabled {
        color: $gray;
        cursor: not-allowed;
      }
    }
  }
  
  &_light {
    background-color: $soapStone;
    border-bottom: 1px solid darken($soapStone, 20%);
    
    #modeValue {
      a {
        svg {
          fill: $black;
        }
      }
    }
    
    a {
      color: $black;
    }
  }
}
