mixin header(theme='light', modeValue='inactive')
    include ../icon/icon
    header.header(class='header_' + theme)
        div.header__logo
            a.header__logo-link(href="index.html") Артём Самсонов
        //div.header__menu
            a.header__menu-elem(href="http://artemsamsonov.com/skills") Навыки
            a.header__menu-elem(href="http://artemsamsonov.com/my-experience") Работы
            a.header__menu-elem(href="http://artemsamsonov.com/#contacts") Контакты
