include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header

include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / камень',
    'стихотворение из архива',
    'http://sayocean.me/img/default.jpg',
    'book'
    )
body.body_light
    +header()
    div.content
        +article-header('Камень')
        div.article.article_writing/poetry
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/poetry/stone.md
    +footer()
