include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/footer/footer
doctype html
html
    +head(
    '',
    '',
    'http://sayocean.me/img/default.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +articleHeadline('Заголовок')
        div.article
            div.article__headline
                div.article__annotation
                    p текст
                div.article__cover
                    img(src="../../img/misfortunes-cover.jpg")
            div.article__connotation
                div.article__connotation-headline
                    h2 Содержание
                div.article__connotation-section
                    h5 заголовок
                    a(href="#").article__connotation-link пример
                    a(href="").article__connotation-link пример
                div.article__connotation-section
                    h5 заголовок
                    a(href="").article__connotation-link пример
            div.article__story#coupe
                div.article__story-headline
                    h2 заголовок
                div
                    include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/misfortunes/coupe.md
        +footer()
