.skill {
  @include col25(4px 5% 0 0, column);

  @include respond(mobile) {
    @include col80(16px 0 0 0, column);
    margin: 0 0 16px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {

    @include respond(mobile) {
      margin: 0 0 16px 0;
    }

    & img {
      width: 64px;
    }
  }

  &__headline {
    color: $white;
  }

  &__description {
    margin: 0 0 8px 0;
    color: $gray;
  }
}