@import "../../scss/grid";
@import "../../scss/colors";
@import "../../scss/typo";

.article-header {
  @include col100(0 0 16px 0, row);
  width: 768px;
  word-break: break-word;
  
  @include respond(mobile) {
    @include col100(0, row);
  }
  
  &__headline {
    margin: 0;
    
    @include respond(mobile) {
      margin: 0;
    }
  }
}
