include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header

include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / в тае снег растаял',
    'В детстве Женёк думал, что в Сингапуре много снега. «В Сингапуре — снег и бури…» — любил напевать отец',
    'http://sayocean.me/img/thai.jpg',
    'book'
    )
body.body_light
    +header()
    div.content
        +article-header('В Тае снег растаял')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/stories/thai.md
    +footer()
