include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/article-breadcrumb/article-breadcrumb
include ../../components/footer/footer
doctype html
html
    +head(
      'сошников — в тае снег растаял',
      '',
      'http://sayocean.me/img/default.jpg',
      'article'
    )
body.body_light
    +header().header_light
    div.content
        div.article
            +article-header('в тае снег растаял')
            div.article__content
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/writing/stories/_other/thai.md
            div.article__next
                a(href="writing.html") ← вернуться в содержание
    +footer()
