@import "../../scss/grid";
@import "../../scss/typo";

.year {
  @include colauto(0 24px 2px 24px, column, center);
  align-items: center;
  border-radius: 50px;
  color: $milanoRed;
  font: $groteskMain;
  letter-spacing: 1px;
  
  &_active {
    background-color: darken($soapStone, 20%);
    cursor: default;
    color: $black !important;
    }
  }
