mixin year(value)
    if value === '2019'
        return
            a.year(class!=attributes.class href=`articles.html`)= value
    else
        return
            a.year(class!=attributes.class href=`articles-${value}.html`)= value
