mixin year(value)
    if value === '2020'
        return
            a.year(class!=attributes.class href=`diary.html`)= value
    else
        return
            a.year(class!=attributes.class href=`diary-${value}.html`)= value
