include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / человек в пустыне',
    'рецензия на книгу наталии мещаниновой "рассказы". сеанс, 2017',
    'http://sayocean.me/img/stories-meschaninova.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Человек в пустыне')
        div.article.data_markdown-image
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/books/stories-meschaninova.md
    +footer()
