include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/page-description/page-description
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
    'артём сошников / чужие беды',
    '',
    '../../img/someone-else-cover.png',
    'book'
    )
body.body_dark
    +header()
    div.content
        +page-header('Чужие беды')
        div.annotation
            div.annotation__image
                img(src="http://sayocean.me/img/someone-else-cover.png")
            div.annotation__description
                p Полночи выдумываю аннотацию, заебало. Всё равно никто не прочитает.
                p Короче, этот сборник — продолжение «Рассказов разных бед», только беды уже не мои, а чужие, от чего мне радостно и стыдно одновременно.
        div.data
            div.list
                div.list__section
                    +list-header('содержание')
                    +list-row('uroboros.html', 'уроборос', '', '', '')
                    +list-row('wonderful-day.html', 'прекрасный день, чтобы стать мужчиной', '', '')
    +footer()
