.article {
  @include colauto(0, column);
  align-content: center;
  max-width: 768px;
  text-transform: none;
  
  @include respond(mobile) {
    @include col100(0, column);
  }
  
  &__headline {
    margin: 0 0 24px 0;
  }
  
  &__years {
    @include col100(0 0 24px 0, row);
    
    @include respond(mobile) {
      @include col100(32px 0 24px 0, row);
    }
  }
  
  &__content {
    font: $antiquaMain;
    margin: 0 0 48px 0;
    
    @include respond(mobile) {
      margin: 0 0 48px 0;
      font: $antiquaSmall;
    }
  }
  
  &__next {
    @include col100(0 0 24px 0, row, space-between);
    font: $groteskMain;
    
    @include respond(mobile) {
      @include col100(0 0 24px 0, column, space-between);
    }
    
    a {
      color: $milanoRed;
      
      @include respond(mobile) {
        margin: 0 0 24px 0;
      }
    }
  }
  
  &__image {
    margin: 24px 0 0 0;
    
    @include respond(mobile) {
      margin: 14px -32px 0 -32px;
    }
    
    &-caption {
      margin: 4px 0 24px 0;
      font: $groteskSmall;
      color: $gray;
      
      @include respond(mobile) {
        margin: 4px 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
