.article {
  @include colauto(120px 0 48px 0, column);
  width: 640px;
  margin: 0 auto;
  font: $desktopMain;

  @include respond(mobile) {
    @include col100(24px 0 48px 0, column);
    font: $mobileMain;
  }

  section {
    margin: 0 0 24px 0;

    @include respond(mobile) {
      margin: 0 0 16px 0;
    }
  }

  a {
    color: $blue;
  }

  ul {
    padding: 0;
    margin: 0 0 16px 16px;

    li {
      margin: 0 0 10px 16px;
      color: $blue;

      span {
        color: $black;
      }
    }

    &-secondary {
      @include col100(0 0 8px 24px);
      font: $desktopSmall;
      border-left: 4px solid $coldBlue;
    }
  }

  &__annotation {
    margin: 0 0 32px 0;

    @include respond(mobile) {
      margin: 0 0 24px 0;
    }
  }

  &__list {
    @include colauto(16px 16px 24px 16px, column);
    width: 640px;
    margin: 0 0 24px 0;
    font: $desktopSmall;
    background-color: darken($soapStone, 3%);

    @include respond(mobile) {
      @include col100(16px 16px 20px 16px, column);
      margin: 0 0 8px 0;
    }

    & h4 {
      margin: 0 0 8px 0;
    }

    & a {
      margin: 0 0 6px 0;
    }
  }

  &__image {
    @include col100(0, column);
    margin: 8px 0 24px 0;

    @include respond(mobile) {
      width: 100%;
      margin: 8px 0 16px 0;
    }

    &-auto {
      width: 320px !important;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid darken($soapStone, 10%);

      @include respond(mobile) {
        margin: 0;
        width: 100%;
      }
    }

    iframe {
      width: 100%;
      height: 300px;

      @include respond(mobile) {
        width: 100%;
        height: 200px;
      }
    }

    &-caption {
      font: $desktopSmall;
      color: $darkGray;
      margin: 8px 0 0 0;

      @include respond(mobile) {
        margin: 6px 0 0 2px;
        font: $mobileSmall;
      }
    }
  }
}