.article {
  @include colauto(88px 0 48px 0, column);
  width: 640px;
  margin: 0 auto;
  font: $desktopMain;

  @include respond(mobile) {
    @include col100(0, column);
    font: 18px/30px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;
  }

  a {
    color: $coldBlue;
  }

  &-annotation {
    margin: 0 0 32px 0;
  }

  &__list {
    @include colauto(16px 16px 24px 16px, column);
    width: 640px;
    margin: 0 auto;
    margin-bottom: 16px;
    font: $desktopSmall;
    background-color: darken($soapStone, 3%);

    & h4 {
      margin: 0 0 8px 0;
    }

    & a {
      margin: 0 0 6px 0;
    }
  }

  h2 {
    margin: 16px 0 16px 0;
  }

  ul {
    padding: 0;
    margin: 0 0 16px 16px;

    li {
      margin: 0 0 10px 16px;
      color: $coldBlue;

      span {
        color: $black;
      }
    }

    &-secondary {
      @include col100(0 0 8px 24px);
      font: $desktopSmall;
      border-left: 4px solid $coldBlue;
    }
  }

  &__image {
    @include col100(0, column);
    margin: 8px 0 24px 0;

    &-auto {
      width: 320px !important;
    }

    img {
      width: 100%;
      border: 1px solid darken($soapStone, 10%);

      @include respond(mobile) {
        margin: 0;
        width: 100%;
      }
    }

    @include respond(mobile) {
      margin: 14px -32px 32px 0;
      width: 100%;
    }

    &-caption {
      font: $desktopSmall;
      color: $darkGray;
      margin: 8px 0 0 0;

      @include respond(mobile) {
        margin: 4px 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}