$white: hsla(0, 0%, 90%, 1.00);

$black: hsla(0, 0%, 0%, 1.00);
$darkGray: hsla(0, 0%, 10%, 1.00);
$codGray: hsla(0, 0%, 20%, 1.00);
$gray: hsla(0, 0%, 30%, 1.00);

$chromeYellow: hsla(40, 100%, 50%, 1.00);
$milanoRed: hsla(10, 100%, 40%, 1.00);
$soapStone: $white;

$darkBgShadow: 1px 4px 12px hsla(0, 0, 0%, 0.2);
