@import "grid";
@import "colors";
@import "typo";

body {
  padding: 0;
  margin: 0;
  
  @include respond(mobile) {
    height: 100vh;
  }
}

.body {
  &_dark {
    background-color: $darkGray;
  }
  
  &_light {
    background-color: $soapStone;
  }
}

.content {
  @include col100(48px 12px 64px 12px, column, flex-start, center);
  
  @include respond(mobile) {
    @include col100(48px 0 48px 0, column);
  }
  
  &_mobile-menu {
    height: 100vh;
    @include col100(48px 12px 64px 12px, column, center, center);
  }
}

.data {
  position: relative;
  width: 600px;
  
  @include respond(mobile) {
    width: 100%;
    padding: 0 24px;
  }
}

.article {
  width: 768px;
  font: $fontArticle;
  
  @include respond(mobile) {
    @include col100(0 32px, column);
    font-size: $fontSmall;
  }
  
  &_poetry {
    width: auto;
    margin: 0 auto;
  }
  
  &__lead {
    font: $fontMain;
    font-size: 14px;
    text-align: center;
    margin: 0 32px 32px 32px;
    
    @include respond(mobile) {
      width: 100%;
      margin: 0 0 12px 0;
      font-size: 14px;
    }
  }
  
  &__image {
    margin: 24px 0 0 0;
    
    @include respond(mobile) {
      margin: 14px -32px 0 -32px;
    }
    
    &-caption {
      margin: 4px 0 24px 0;
      font: $fontSmall;
      color: $gray;
      
      @include respond(mobile) {
        margin: 4px 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }
  
  h2 {
    margin: 32px 0 0 0;
    
    &:first-child {
      display: none;
    }
  }
  
  a {
    color: $milanoRed;
  }
  
  img {
    width: 100%;
  }
  
  blockquote {
    color: darken($milanoRed, 10%);
    
    @include respond(mobile) {
      margin: 4px 12px;
    }
  }
  
  hr {
    border-color: $soapStone;
    border-style: dashed;
    margin: 48px 0;
    
    @include respond(mobile) {
      width: 100%;
      margin: 14px 0;
    }
  }
}

.list {
  @include col100(24px 0 0 0, column, flex-start, center);
  
  @include respond(mobile) {
    @include col100(0 0 0 0, column, flex-start, center);
  }
  
  &__section {
    @include col100(0 0 48px 0, column);
  }
  
  &__row {
    @include col100(4px 0, row, space-between, baseline);
    font: $fontMain;
    
    @include respond(mobile) {
      @include col100(8px 0, column);
    }
    
    &-source {
      @include colauto(0 0 0 8px);
      color: $gray;
      
      @include respond(mobile) {
        @include colauto(4px 0 0 0);
        font: $fontSmall;
      }
    }
  }
}

.years {
  @include col100(0 0 12px 0, row, center);
  margin: 0 8px 0 0;
  
  @include respond(mobile) {
    @include col100(0 0 32px 0, row, center);
  }
}

figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 24px 0;
  
  @include respond(mobile) {
    margin: 12px 0;
  }
}

pre {
  @include col100(0);
  padding: 12px 24px 16px 24px;
  background-color: lighten($soapStone, 3%);
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  font-family: 'PT Mono';
  color: darken($milanoRed, 10%);
}

.annotation {
  @include col100(24px 0 24px 0);
  max-width: 600px;
  
  @include respond(mobile) {
    @include col100(24px 0 24px 0, column);
    align-items: center;
    width: 100%;
    padding: 0 24px 24px 24px;
    font-size: 11px;
  }
  
  &__image {
    flex: 2;
    
    & img {
      max-width: 240px;
      border-radius: 2px;
      box-shadow: $darkBgShadow;
      
      @include respond(mobile) {
        max-width: 120px;
      }
    }
  }
  
  &__description {
    flex: 4;
    padding: 0 0 0 24px;
    font: $fontSmall;
    color: $gray;
    
    @include respond(mobile) {
      padding: 24px 12px 0 12px;
      text-align: left;
    }
    
    & p:first-child {
      margin-top: 0;
    }
  }
}
