@import "grid";
@import "colors";
@import "typo";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 5%;
  margin: 0;
  //text-transform: lowercase;
  scroll-behavior: smooth;
  
  @include respond(mobile) {
    padding: 96px 5% 24px 5%;
    height: 100vh;
  }
}

p {
  margin: 0 0 24px 0;
}

.body {
  &_dark {
    background-color: $darkGray;
  }
  
  &_light {
    background-color: $soapStone;
  }
}

.content {
  @include col100(0, flex-start);
  max-width: 1080px;
  margin: 0 auto;
  
  @include respond(mobile) {
    @include col100(0, column, flex-start, center);
  }
}

blockquote {
  color: darken($milanoRed, 10%);
  
  @include respond(mobile) {
    margin: 4px 12px;
  }
}

code {
  @include colauto(8px 16px);
  border-radius: 4px;
  background-color: darken($soapStone, 5%);
  font: $desktopSmall;
  margin: 0 0 8px 0;
}

.code_right {
  justify-content: end;
}

.nowrap {
  white-space: nowrap;
}
