@import "grid";
@import "colors";
@import "typo";

html {
  scroll-behavior: smooth;
}

body {
  padding: 80px 32px 32px 32px;
  margin: 0;
  text-transform: lowercase;
  
  @include respond(mobile) {
    padding: 80px 24px 24px 24px;
    height: 100vh;
  }
}

.body {
  &_dark {
    background-color: $darkGray;
  }
  
  &_light {
    background-color: $soapStone;
  }
}

.content {
  @include col100(0, column, flex-start, center);
  
  @include respond(mobile) {
    @include col100(0, column, flex-start, center);
  }
}
  
  blockquote {
    color: darken($milanoRed, 10%);
    
    @include respond(mobile) {
      margin: 4px 12px;
    }
  }
  
  hr {
    border-color: $soapStone;
    border-style: dashed;
    margin: 48px 0;
    
    @include respond(mobile) {
      width: 100%;
      margin: 14px 0;
    }
  }
