@import "colors";

$fontSizeSmall: 14px;
$fontSizeMain: 16px;
$fontSizeMedium: 24px;
$fontSizeLarge: 32px;
$fontSizeBig: 56px;

$fontMicro: 12px/18px "Montserrat";
$fontSmall: normal 400 14px/21px "Montserrat";
$fontMain: 1em/1.3em "Montserrat";

$fontHeadline: 700 4em/1.3em "Montserrat";
$fontHeadlineMedium: 700 32px/48px "Montserrat";
$fontHeadlineSmall: 700 1.8em/1.3em "Montserrat";
$fontHeadlineMicro: 700 20px/26px "Montserrat";

$fontArticle: normal 20px/33px "KTB", Georgia, serif;

a {
  text-decoration: none;
  color: $chromeYellow;
}

h1 {
  font: 700 48px/1.3em "Montserrat";
  margin: 0;
  
  @include respond(mobile) {
    font: $fontSizeSmall;
  }
}

h2 {
  font: $fontHeadlineSmall;
}

h3 {
  font: $fontHeadlineMicro;
}

h5 {
  font-size: $fontMicro;
  letter-spacing: 1px;
  margin: 0;
}

strong {
  font-weight: 500;
}

@font-face {
  font-family: 'KTB';
  src: url('../../type/type.eot');
    src:
      url('../../type/type.eot?#iefix') format('embedded-opentype'),
      url('../../type/type.woff2') format('woff2'),
      url('../../type/type.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
