@import "colors";

// Desktop Fonts
$desktopH1: 40px/56px "Gotham Black", 'Dela Gothic One', Arial, sans-serif;
$desktopH2: 32px/44px "Gotham Black", 'Dela Gothic One', Arial, sans-serif;
$desktopH3: 20px/32px "Gotham Bold", 'Dela Gothic One', Arial, sans-serif;
$desktopMain: 19px/30px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;
$desktopSmall: 16px/24px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;

// Mobile Fonts
$mobileH1: 40px/56px "Gotham Black", 'Dela Gothic One', Arial, sans-serif;
$mobileH2: 20px/30px "Gotham Bold", 'Dela Gothic One', Arial, sans-serif;
$mobileH3: 16px/24px "Gotham Medium", 'Dela Gothic One', Arial, sans-serif;
$mobileMain: 19px/30px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;
$mobileSmall: 16px/24px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;

a {
  text-decoration: none;
  color: $coldBlue;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font: $desktopH1;
  margin: 0;

  @include respond(mobile) {
    font: $mobileH1;
  }
}

h2 {
  font: $desktopH2;
  margin: 0;

  @include respond(mobile) {
    font: $mobileH2;
  }
}

h3 {
  font: $desktopH3;
  line-height: 1.4;
  margin: 0 0 8px 0;

  @include respond(mobile) {
    font: $mobileH3;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 8px 0;
    list-style-type: square;
  }
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/gotham-black.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham-bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/gotham-medium.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: url('../fonts/pt-root-ui-regular.eot');
  src: url('../fonts/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-regular.woff2') format('woff2'),
  url('../fonts/pt-root-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
