@import "colors";

$groteskExtraLarge: 48px/56px "PT Root UI Bold", 'PT Sans', Arial, sans-serif;
$groteskLarge: 32px/40px "PT Root UI Bold", 'PT Sans', Arial, sans-serif;
$groteskMain: 16px/23px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;
$groteskSmall: 14px/20px "PT Root UI Regular", 'PT Sans', Arial, sans-serif;

$antiquaMain: 20px/34px "KTB", Georgia, serif;
$antiquaSmall: 16px/24px "KTB", Georgia, serif;

a {
  text-decoration: none;
  color: $chromeYellow;
}

h1 {
  font: $groteskExtraLarge;
  margin: 0;
  
  @include respond(mobile) {
    font: $groteskLarge;
  }
}

h2 {
  font: $groteskLarge;
  margin: 0;
}

h5 {
  font: $groteskSmall;
  letter-spacing: 1px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}

h1, h2, h5 {
  font-weight: bold;
}

@font-face {
  font-family: 'KTB';
  src: url('../fonts/type.eot');
  src: url('../fonts/type.eot?#iefix') format('embedded-opentype'),
  url('../fonts/type.woff2') format('woff2'),
  url('../fonts/type.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Regular';
  src: url('../fonts/pt-root-ui-regular.eot');
  src: url('../fonts/pt-root-ui-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-regular.woff2') format('woff2'),
  url('../fonts/pt-root-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI Bold';
  src: url('../fonts/pt-root-ui-bold.eot');
  src: url('../fonts/pt-root-ui-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt-root-ui-bold.woff2') format('woff2'),
  url('../fonts/pt-root-ui-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
