include ../../components/head/head
include ../../components/header/header
include ../../components/article-header/article-header
include ../../components/footer/footer
doctype html
html
    +head(
    'исход из внутреннего кызыла',
    'артём cошников — о новом сборнике рассказов романа сенчина, в котором автор пробует раскрыться с иной стороны, но…',
    'http://sayocean.me/img/senchin-stories.jpg',
    'article'
    )
body.body_light
    +header()
    div.content
        +article-header('Исход из внутреннего Кызыла')
        div.article
            include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/books/senchin-stories.md
    +footer()
