include ../../components/head/head
include ../../components/header/header
include ../../components/footer/footer
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
    'артём сошников / литературный критик, начинающий писатель',
    'пишу прозу, рецензирую книги, веду в телеграм-канал о литературе «автономный хипстер»',
    'http://sayocean.me/img/default.jpg',
    ''
    )
body.body_dark
    +header('active')
    div.content_mobile-menu
        div.menu
            a(href="writing.html").menu_mobile проза
            a(href="articles.html").menu_mobile публицистика
            a(href="archieve.html").menu_mobile архив
            a(href="contacts.html").menu_mobile контакты
    +footer()
