include ../../components/head/head
include ../../components/header/header
include ../../components/footer/footer
doctype html(prefix="og: http://ogp.me/ns#")
html
    +head(
      'сошников — меню',
      'пишу и обозреваю прозу, веду телеграм-канал о реализме «чернотроп»',
      'http://sayocean.me/img/default.jpg',
      ''
    )
body.body_dark
    +header('active')
    div.content
        div.menu
            a(href="index.html").menu_mobile главная
            a(href="writing.html").menu_mobile проза
            a(href="diary.html").menu_mobile писательский дневник
            a(href="contacts.html").menu_mobile контакты
    +footer()
