include ../../components/head/head
include ../../components/header/header
include ../../components/page-header/page-header
include ../../components/year/year
include ../../components/list-header/list-header
include ../../components/list-row/list-row
include ../../components/footer/footer
doctype html
html
    +head(
        'артём сошников / публикации за 2017-й',
        'книжные обзоры',
        'http://sayocean.me/img/default.jpg',
        ''
        )
body.body_dark
    +header()
    div.content
        +page-header('Публицистика', 'dark')
        div.data
            div.years
                +year('2019')
                +year('2018')
                +year('2017').year_active
            div.list
                div.list__section
                    +list-header('книги')
                    +list-row('three-novels-17.html', 'три отличных романа года', '', '', '')
                    +list-row('square.html', 'построение квадрата на шестом уроке', 'носов', '', '')
                    +list-row('artbes.html', 'бес искусства', 'степанов', '', '')
                    +list-row('self-help.html', 'конец эпохи селф-хелп', 'бринкман', '', '')
                    +list-row('parallels.html', 'параллельные общества', 'михалыч', '', '')
    +footer()
