include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline
include ../../components/footer/footer

doctype html
html
    +head(
      'сошников — инсайд',
      '',
      'http://sayocean.me/img/inside.jpg',
      'article'
    )
body.body_light
    +header().header_light
    div.profile
        div.profile__info
            div.profile__info-title
                h1 инсайд
            div.profile__info-annotation
                p Два московских авантюриста и полусумасшедший профессор случайно раскручивают инсайдерский канал в Телеграме. Жажда денег бросает бывших субкультурщиков в диджитал-болото анонимных публикаций и экстремистов, московской реновации и либеральных университетов, маргинальной политики и ютуб-блогов.
                p Смогут ли повзрослевшие миллениалы ужиться с новым миром?
            div.profile__info-cover
                img(src="../../img/inside-cover.jpg")
        div.profile__connotation
            div.profile__connotation-title
                h1 содержание
            div.profile__connotation-contents
                div.profile__connotation-section
                    a.profile__connotation-link(href='bald.html') лысый
                    a.profile__connotation-link(href='berserk.html') берсерк
                    a.profile__connotation-link(href='eklmn.html') еклм(н)
    +footer()
